/* TopFiveGainerComp.css */
.gainer-table {
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #0e0e0e;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
 
.buy{
  background-color: #4caf50;
  color: #0e0e0e;
}

.sell{
  background-color: red;
}

.green{
  color: #4caf50;
}

.red{
  color: red;
}

.tableSuccess{
  background-color: #1f4620;
  color: white;
}

.table-changed{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.tableSuccessSell{
  background-color: rgb(71, 25, 25);
}
